<<<<<<< HEAD
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  font-family: inter;
 }

.medvation-logo{
  width: 12%;
}

@media (max-width:780px){
  .medvation-logo{
    width: 40%;
  }
}

.landing-footer{
  background-color: white;
  color:#040023;
}

.text-information{
  font-family: inter;

}


.text-about-topic{
  color: #040023;
}

.text-about-topic:hover{
  color:#1463F3;
}


.about-text{
  color: #040023;
}


=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> b3bbc6976257fd61eaa86d28b6446199b529a2af
